<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script> 
</head>
<body>
    <section class="dl-blurbs">
        
    </section>
    <script>

        // $('.fw_ver').click(function(){
        //     console.log( $('.fw_ver').val() )
        // })

        $(document).on("click",".fw_ver", function(event){
            var fw_ver = this.id
            $.ajax({
                url: '/OTA/download',
                type: 'POST',
                data: {fw: fw_ver},

                success: function(response){

                },
                error: function(error){

                }
            })
        });  
      
        
        $.ajax({
            url: '/OTA/getdata',
            type: 'POST',
            data: { id: $('.signin_id').val(), pw : $('.signin_pw').val() },

            success: function(response) {
                var data = response["data"]
                var cnt = data.length - 1    // DB 라인 수
                var version                  // 펌웨어 버전
                var val                      // 펌웨어 설명
                var class_name = "fw_ver"                  // 부여 id 변수
                var row = ""
                var num = 0
                
                row += `<dl>`
                for(i=0;i<=cnt;i++){
                    if(num == 5){
                        row += `</dl><dl>`
                        num = 0
                    }
                    else{
                        num += 1
                    }
                    version = data[i][0]
                    val = data[i][1]

                    row += `<dt class='${class_name}' id='${version}'>${version}</dt>`
                    row += `<dd>${val}</dd>`
                }
                row += `</dl>`
                $('.dl-blurbs').append(row)
            },
            error: function(error){
            }
        })

        
    </script>
</body>
</html>